<footer class="footer">
  <div class="footer-columns">
    <div class="footer-first-column">
      <img src="/assets/img/footLogo.svg" alt="logo" />
      <p class="footer-number">+ 380(67) 246-28-32</p>
      <p class="footer-contact-email">support@rlzone.agency</p>
    </div>
    <div class="footer-second-column-block">
      <h1 class="footer-submain-text">Quick Links</h1>
      <div class="footer-block-links">
        <a href="/about" class="footer-link"> About us </a>
        <a href="/license" class="footer-link"> User license </a>
        <a href="/privacy" class="footer-link"> Privacy policy </a>
        <a href="/terms" class="footer-link"> Terms of use </a>
      </div>
    </div>
    <div class="footer-third-column">
      <h1 class="footer-submain-text">Get Notifications</h1>
      <div class="footer-block-subscribe">
        <input class="footer-subscribe" type="email" placeholder="Email" />
        <button type="button" class="footer-subscribe-button">➜</button>
      </div>
    </div>
  </div>
  <div class="footer-separator"></div>
  <div class="footer-bottom-block">
    <div class="footer-socials">
      <a href="https://www.linkedin.com/"
        ><img src="/assets/img/Linkedin.svg" alt="Linkedin"
      /></a>
      <a href="https://www.facebook.com/"
        ><img src="/assets/img/facebook.svg" alt="facebook"
      /></a>
      <a href="https://twitter.com/"
        ><img src="/assets/img/Twitter.svg" alt="twitter"
      /></a>
    </div>
    <div class="footer-product-logo">
      <p class="footer-text">A product of</p>
      <img src="/assets/img/LogoFooter.svg" alt="LogoFooter" />
    </div>
    <div class="footer-copyright">
      <p class="footer-text">© 2024 RL Zone. All rights reserved</p>
    </div>
  </div>
</footer>
