<link rel="stylesheet" type="text/css" href="assets/css/footer.css" />
<footer className="footer">
  <div className="footer-columns">
    <div className="footer-first-column">
      <img src="assets/img/footLogo.svg" alt="logo" />
      <p className="footer-number">+ 380(67) 246-28-32</p>
      <p className="footer-contact-email">support@rlzone.agency</p>
    </div>
    <div className="footer-second-column-block">
      <h1 className="footer-submain-text">Quick Links</h1>
      <div className="footer-block-links">
        <a href="/about" className="footer-link"> About us </a>
        <a href="/license" className="footer-link"> User license </a>
        <a href="/privacy" className="footer-link"> Privacy policy </a>
        <a href="/terms" className="footer-link"> Terms of use </a>
      </div>
    </div>
    <div className="footer-third-column">
      <h1 className="footer-submain-text">Get Notifications</h1>
      <div className="footer-block-subscribe">
        <input className="footer-subscribe" type="email" placeholder="Email" />
        <button type="button" className="footer-subscribe-button">➜</button>
      </div>
    </div>
  </div>
  <div className="footer-separator"></div>
  <div className="footer-bottom-block">
    <div className="footer-socials">
      <a href="https://www.linkedin.com/"
        ><img src="assets/img/Linkedin.svg" alt="Linkedin"
      /></a>
      <a href="https://www.facebook.com/"
        ><img src="assets/img/facebook.svg" alt="facebook"
      /></a>
      <a href="https://twitter.com/"
        ><img src="assets/img/Twitter.svg" alt="twitter"
      /></a>
    </div>
    <div className="footer-product-logo">
      <p className="footer-text">A product of</p>
      <img src="assets/img/LogoFooter.svg" alt="LogoFooter" />
    </div>
    <div className="footer-copyright">
      <p className="footer-text">© 2024 RL Zone. All rights reserved</p>
    </div>
  </div>
</footer>
