<header class="header">
  <div class="header-content">
    <a href="/"
      ><img class="header-logo" src="/assets/img/LogoMain.svg" alt="logo"
    /></a>
    <div class="header-block-search">
      <img src="/assets/img/MagnifyingGlass.svg" alt="magnifyingGlass" />
      <input class="header-search" type="text" placeholder="Find an item..." />
      <button type="button" class="header-search-button">➜</button>
    </div>
    <div class="header-buy-sell">
      <div class="header-buy-block">
        <a href="/items" class="header-buy">Buy</a>
      </div>
      <div class="header-sell-block">
        <a href="/inventory" class="header-sell">Inventory</a>
      </div>
    </div>
    <div class="header-right-block">
      <div class="header-block-settings button-add-scale">
        <a class="header-svg-icons" href="#"
          ><img src="/assets/img/CartBlock.svg" alt="Cart"
        /></a>
      </div>
      <div class="header-block-settings">
        <img
          src="/assets/img/Credits.svg"
          alt="Credits"
          style="width: 24px; height: 24px"
        />
        <p class="header-main-text">1290</p>
      </div>
      <div class="header-block-settings button-add-scale">
        <a class="header-svg-icons" href="#"
          ><img
            src="/assets/img/profileIcon.svg"
            alt="profileIcon"
            style="width: 40px; height: 40px"
        /></a>
        <a href="#">
          <p class="header-main-text">SampleName</p>
        </a>
      </div>
    </div>
  </div>
</header>
