<header class="header">
  <div class="header-content">
    <a href="/"
      ><img class="header-logo" src="/assets/img/LogoMain.svg" alt="logo"
    /></a>
    <form class="header-block-search">
      <img src="/assets/img/MagnifyingGlass.svg" alt="magnifyingGlass" />
      <input
        class="header-search"
        type="text"
        name="name"
        placeholder="Find an item..."
      />
      <button type="submit" class="header-search-button">➜</button>
    </form>
    <div class="header-btns">
      <a href="/login"
        ><button class="button-outline" style="width: 106px">Login</button></a
      >
      <a href="/register"
        ><button class="button-fill" style="width: 106px">Sign Up</button></a
      >
    </div>
  </div>
</header>
