<header class="header">
  <div class="header-content">
    <a href="/"
      ><img class="header-logo" src="/assets/img/LogoMain.svg" alt="logo"
    /></a>
    <form class="header-block-search">
      <img src="/assets/img/MagnifyingGlass.svg" alt="magnifyingGlass" />
      <input
        class="header-search"
        type="text"
        name="name"
        placeholder="Find an item..."
      />
      <button type="submit" class="header-search-button">➜</button>
    </form>
    {{ if eq .Role "Admin" }}
    <div class="header-buy-sell">
      <div class="header-sell-block">
        <a href="#" class="header-edit">Edit listings</a>
      </div>
      <div class="header-buy-block">
        <a href="#" class="header-buy">User control</a>
      </div>
    </div>
    <div class="header-right-block">
      <div class="header-block-settings button-add-scale">
        <a class="header-svg-icons" href="#"
          ><img
            src="/assets/img/profileIcon.svg"
            alt="profileIcon"
            style="width: 40px; height: 40px"
        /></a>
        <p class="header-main-text">AdminUser</p>
      </div>
    </div>
    {{ else if eq .Role "User" }}
    <div class="header-buy-sell">
      <div class="header-buy-block">
        <a href="/items" class="header-buy">Buy</a>
      </div>
      <div class="header-sell-block">
        <a href="/inventory" class="header-sell">Inventory</a>
      </div>
    </div>
    <div class="header-right-block">
      <div class="header-block-settings button-add-scale">
        <a class="header-svg-icons" href="#"
          ><img src="/assets/img/CartBlock.svg" alt="Cart"
        /></a>
      </div>
      <div class="header-block-settings">
        <img
          src="/assets/img/Credits.svg"
          alt="Credits"
          style="width: 24px; height: 24px"
        />
        <p class="header-main-text">1290</p>
      </div>
      <div class="header-block-settings button-add-scale">
        <a class="header-svg-icons" href="#"
          ><img
            src="/assets/img/profileIcon.svg"
            alt="profileIcon"
            style="width: 40px; height: 40px"
        /></a>
        <a href="#">
          <p class="header-main-text">SampleName</p>
        </a>
      </div>
    </div>
    {{ else }}
    <div class="header-btns">
      <a href="/users/login"
        ><button class="button-outline" style="width: 106px">Login</button></a
      >
      <a href="#"
        ><button class="button-fill" style="width: 106px">Sign Up</button></a
      >
    </div>
    {{ end }}
  </div>
</header>
