<header class="header">
  <div class="header-content" bis_skin_checked="1">
    <a href="/"
      ><img class="header-logo" src="assets/img/LogoMain.svg" alt="logo"
    /></a>
    <div class="header-block-search" bis_skin_checked="1">
      <img src="assets/img/MagnifyingGlass.svg" alt="magnifyingGlass" />
      <input class="header-search" type="text" placeholder="Find an item..." />
      <button type="button" class="header-search-button">➜</button>
    </div>
    <div class="header-buy-sell" bis_skin_checked="1">
      <div class="header-sell-block" bis_skin_checked="1">
        <a href="#" class="header-edit">Edit listings</a>
      </div>
      <div class="header-buy-block" bis_skin_checked="1">
        <a href="#" class="header-buy">User control</a>
      </div>
    </div>
    <div class="header-right-block" bis_skin_checked="1">
      <div class="header-block-settings button-add-scale" bis_skin_checked="1">
        <a class="header-svg-icons" href="#"
          ><img
            src="assets/img/profileIcon.svg"
            alt="profileIcon"
            style="width: 40px; height: 40px"
        /></a>
        <p class="header-main-text">AdminUser</p>
      </div>
    </div>
  </div>
</header>
