<div class="item grey-container">
  <div class="item-image-container">
    <img class="item-image" src="{{.Image}}" alt="item" />
  </div>
  <div class="item-info">
    <div class="item-name-box">
      <p class="main-text item-name">{{.Name}}</p>
    </div>
    <p class="item-quality">{{.Quality}}</p>
    <div class="item-price-container">
      <img
        class="item-price-credits"
        src="/assets/img/Credits.svg"
        alt="credits"
      />
      <p class="main-text item-price">
        {{if .Stock}} {{.Stock.Price}} {{else}} - {{end}}
      </p>
    </div>
    {{if .Stock}}
    <button
      class="button-fill item-button-sell"
      type="button"
      style="height: 32px; padding: 6px 24px"
      onclick="setModalInfo({{ .ID }}, 'buy')"
    >
      Buy
    </button>
    {{else}}
    <p class="item-stock">Not in stock</p>
    {{end}}
  </div>
  <button class="item-favorite-button" type="button">
    <img
      class="item-action-icon"
      src="/assets/img/Favorite.svg"
      alt="favorite"
    />
  </button>
</div>
