:root {
  --bg-main: #070a0c;
  --bg-secondary: #232b30;
  --bg-secondary-shade: #1b2328;
  --text-main: #fff;
  --text-secondary: #070a0c;
  --primary-400: #39b2ff;
  --selection: #007ac6;
  --quality-common: #999;
  --misc-succes: #6adb75;
  --misc-failure: #fc7b7b;
  --misc-warning: #fcc87b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html,
body {
  font-family: "Jost", sans-serif;
  height: 100%;
  background: #070a0c;
  background-size: cover;
}

body::before {
  content: "";
  position: fixed;
  top: 72px;
  bottom: 1;
  margin: auto;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center top,
    rgba(0, 122, 198, 0.3) 0%,
    rgba(0, 122, 198, 0) 65%
  );
  pointer-events: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 104px 95px 0px;
  max-width: 1640px;
}

.main-content-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 32px 0px 0px;
  width: fit-content;
  height: 100%;
}

.main-content-block-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 10px;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--text-main);
}

.main-content-block-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 10px;
}

.main-content-block-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 18px 0px;
  gap: 10px;
}

.pages-per-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.pages-per-page-selected {
  background-color: #007ac6;
  border-radius: 4px;
  padding: 0px 4px;
}

.pages-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pages-switch * {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pages-switch-left,
.pages-switch-right,
.pages-switch-number {
  padding: 8px;
  min-width: 36px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pages-switch-left {
  margin-right: 32px;
}

.pages-switch-right {
  margin-left: 32px;
}

.pages-switch-number {
  line-height: 20px;
}

.pages-filler {
  width: 163px;
}

.card {
  position: relative;
  border-radius: 16px;
  padding: 10px 10px 32px 10px;
  width: 276px;
  height: fit-content;
}

.credit-block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  margin-left: 10px;
}

.car-name {
  text-align: center;
  margin-top: 16px;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: var(--text-main);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.credit-input {
  align-items: center;
  border-radius: 16px;
  width: 202px;
  height: 40px;
  color: var(--text-main);
  padding: 8px 12px;
  background: var(--bg-secondary-shade);
}

.btn-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.change-btn {
  margin-top: 16px;
  cursor: pointer;
  border-radius: 16px;
  padding: 8px 16px;
  height: 39px;
}

.main-description-table {
  position: relative;
}

.main-table {
  position: relative;
  border-collapse: collapse;
  /* width: 100%; */
  width: 932px;
  height: fit-content;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  height: 40px;
  line-height: 125%;
  padding: 10px 24px;
  color: var(--text-main);
  background: var(--bg-secondary-shade);
}

.main-table {
  tr:first-child {
    td {
      border-top: none;
    }
    td:first-child {
      border-top-left-radius: 16px;
      border-left: none;
    }
    td:last-child {
      border-top-right-radius: 16px;
      border-right: none;
    }
  }
  tr:last-child {
    td {
      border-bottom: none;
    }
    td:first-child {
      border-bottom-left-radius: 16px;
      border-left: none;
    }
    td:last-child {
      border-bottom-right-radius: 16px;
      border-right: none;
    }
  }
  td:first-child {
    border-left: none;
    width: 162px;
    background: var(--bg-secondary);
  }
  td:last-child {
    border-right: none;
  }
}

.main-block-description {
  position: relative;
  width: 932px;
  height: 180px;
  padding: 26px 24px 36px 24px;
}

.accent-text {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: var(--text-main);
}

.block-description-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.description-input {
  margin-top: 10px;
  width: 100%;
  height: 80px;
  padding: 8px 12px;
  color: var(--text-main);
  font-weight: 400;
  font-size: 16px;
  resize: none;
  background: var(--bg-secondary-shade);
}

.btn-glow {
  display: flex;
  align-items: center;
  justify-content: center;
}
