<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RL Zone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/header.css" />
    <link rel="stylesheet" href="assets/css/button.css" />
    <link rel="stylesheet" href="assets/css/footer.css" />
    <link rel="stylesheet" href="assets/css/items.css" />
    <link rel="stylesheet" href="assets/css/general.css" />
  </head>

  <body>
    {{template "header-guest.html"}}

    <main class="main">
      <div class="main-content">
        <div
          class="main-content-sidebar"
          style="width: 340px; padding: 16px 36px 0px 36px"
        >
          <h2 class="accent-text">Sort</h2>
          <p class="subtext">Item sorting</p>
          <div class="select">
            <select>
              <option>By Quality</option>
              <option>By Price</option>
              <option>By Quantity</option>
              <option>By Raiting</option>
            </select>
          </div>
          <div class="filter">
            <h2 class="accent-text">Filter</h2>
            <p class="subtext">Item quality</p>
            <div class="select">
              <select>
                <option>Common</option>
                <option>Uncommon</option>
                <option>Rare</option>
                <option>Very Rare</option>
                <option>Import</option>
                <option>Exotic</option>
                <option>Black Market</option>
              </select>
            </div>
            <div class="price-range">
              <div class="price-from">
                <p class="subtext">Price from</p>
                <input
                  class="number-input-block number-input-block-from"
                  type="number"
                  placeholder="0"
                />
              </div>
              <div class="price-to">
                <p class="subtext">Price to</p>
                <input
                  class="number-input-block number-input-block-to"
                  type="number"
                  placeholder="100000"
                />
              </div>
            </div>
          </div>
          <div class="slider">
            <div class="progress"></div>
          </div>
          <div class="checkbox-out-of-stock">
            <label class="main-label main-text">
              <input type="checkbox" />
              <span class="grey-container main-checkmark"></span>
              <span class="main-checkmark-text"
                >Don’t show items out of stock</span
              >
            </label>
          </div>
          <div class="checkbox-favorite">
            <label class="main-label main-text">
              <input type="checkbox" />
              <span class="main-checkmark grey-container"></span>
              <span class="main-checkmark-text">Show only favorite items</span>
            </label>
          </div>
          <button class="button-fill" style="width: 100%; margin-top: 48px">
            Apply filters
          </button>
        </div>
        <div class="main-content-block">
          <div class="main-content-block-categories">
            <div class="category grey-container-selected button-add-scale">
              <img
                class="category-image"
                src="assets/img/bodies.png"
                alt="category"
              />
              <p class="main-text">Bodies</p>
            </div>
            <div class="category grey-container button-add-scale">
              <img
                class="category-image"
                src="assets/img/decals.png"
                alt="category"
              />
              <p class="main-text">Decals</p>
            </div>
            <div class="category grey-container button-add-scale">
              <img
                class="category-image"
                src="assets/img/wheels.png"
                alt="category"
              />
              <p class="main-text">Wheels</p>
            </div>
            <div class="category grey-container button-add-scale">
              <img
                class="category-image"
                src="assets/img/boosts.png"
                alt="category"
              />
              <p class="main-text">Boosts</p>
            </div>
            <div class="category grey-container button-add-scale">
              <img
                class="category-image"
                src="assets/img/antennas.png"
                alt="category"
              />
              <p class="main-text">Antennas</p>
            </div>
            <div class="category grey-container button-add-scale">
              <img
                class="category-image"
                src="assets/img/explosions.png"
                alt="category"
              />
              <p class="main-text">Goal Explosions</p>
            </div>
            <div class="category grey-container button-add-scale">
              <img
                class="category-image"
                src="assets/img/trails.png"
                alt="category"
              />
              <p class="main-text">Trails</p>
            </div>
          </div>

          <div class="main-content-block-items">
            {{range .items}} {{template "item-card-view.html"}} {{end}}
          </div>

          <div class="main-content-block-pages">
            <div class="pages-per-page">
              <p class="main-text">Per page:</p>
              <p
                class="main-text pages-per-page-selected"
                style="cursor: pointer"
              >
                15
              </p>
              <p class="main-text" style="cursor: pointer">30</p>
              <p class="main-text" style="cursor: pointer">45</p>
            </div>

            <div class="pages-switch">
              <div class="pages-switch-left grey-container button-add-scale">
                <img
                  class="page-left-arrow"
                  src="assets/img/ArrowLeft.svg"
                  alt="arrow"
                />
              </div>
              <p
                class="main-text pages-switch-number grey-container button-add-scale"
              >
                1
              </p>
              <p
                class="main-text pages-switch-number grey-container button-add-scale"
              >
                2
              </p>
              <p
                class="main-text pages-switch-number grey-container button-add-scale"
              >
                3
              </p>
              <p
                class="main-text pages-switch-number grey-container button-add-scale"
              >
                4
              </p>
              <p
                class="main-text pages-switch-number grey-container button-add-scale"
              >
                5
              </p>
              <p class="main-text" style="line-height: 20px">...</p>
              <p
                class="main-text pages-switch-number grey-container button-add-scale"
              >
                999
              </p>
              <div class="pages-switch-right grey-container button-add-scale">
                <img
                  class="page-right-arrow"
                  src="assets/img/ArrowRight.svg"
                  alt="arrow"
                />
              </div>
            </div>

            <div class="pages-filler"></div>
          </div>
        </div>
      </div>
    </main>

    {{template "footer.html"}}
  </body>
</html>
