<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RL Zone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="/assets/css/button.css" />
    <link rel="stylesheet" href="/assets/css/footer.css" />
    <link rel="stylesheet" href="/assets/css/items.css" />
    <link rel="stylesheet" href="/assets/css/general.css" />
  </head>

  <body>
    {{template "header-guest.html"}}

    <main class="main">
      <form class="main-content">
        <div
          class="main-content-sidebar"
          style="width: 340px; padding: 16px 36px 0px 36px"
        >
          <h2 class="accent-text">Sort</h2>
          <p class="subtext">Item sorting</p>
          <div class="select">
            <select name="sort" id="sortSelection">
              <option value="">None</option>
              <option value="quality_asc">By Quality Ascending</option>
              <option value="price_asc">By Price Ascending</option>
              <option value="quality_desc">By Quality Descending</option>
              <option value="price_desc">By Price Descending</option>
            </select>
          </div>
          <div class="filter">
            <h2 class="accent-text">Filter</h2>
            <p class="subtext">Item quality</p>
            <div class="select">
              <select name="quality" id="qualitySelection">
                <option value="">All</option>
                <option value="Common">Common</option>
                <option value="Uncommon">Uncommon</option>
                <option value="Limited">Limited</option>
                <option value="Rare">Rare</option>
                <option value="Very Rare">Very Rare</option>
                <option value="Import">Import</option>
                <option value="Exotic">Exotic</option>
                <option value="Black Market">Black Market</option>
                <option value="Premium">Premium</option>
                <option value="Legacy">Legacy</option>
              </select>
            </div>
            <p class="subtext">Item Type</p>
            <div class="select">
              <select name="type" id="typeSelection">
                <option value="">All</option>
                <option value="Body">Bodies</option>
                <option value="Decal">Decals</option>
                <option value="Wheels">Wheels</option>
                <option value="Rocket Boost">Boosts</option>
                <option value="Antenna">Antennas</option>
                <option value="Goal Explosion">Goal Explosions</option>
                <option value="Trail">Trails</option>
              </select>
            </div>
            <div class="price-range">
              <div class="price-from">
                <p class="subtext">Price from</p>
                <input
                  class="number-input-block number-input-block-from"
                  type="number"
                  name="min_price"
                  placeholder="0"
                />
              </div>
              <div class="price-to">
                <p class="subtext">Price to</p>
                <input
                  class="number-input-block number-input-block-to"
                  type="number"
                  name="max_price"
                  placeholder="100000"
                />
              </div>
            </div>
          </div>
          <div class="slider">
            <div class="progress"></div>
          </div>
          <div class="checkbox-out-of-stock">
            <label class="main-label main-text">
              <input
                type="checkbox"
                name="only_in_stock"
                value="true"
                {{
                if
                .query.OnlyInStock
                }}
                checked
                {{
                end
                }}
              />
              <span class="grey-container main-checkmark"> </span>
              <span class="main-checkmark-text"
                >Don’t show items out of stock</span
              >
            </label>
          </div>
          <div class="checkbox-favorite">
            <label class="main-label main-text">
              <input type="checkbox" name="only_favorite" value="true" />
              <span class="main-checkmark grey-container"> </span>
              <span class="main-checkmark-text">Show only favorite items</span>
            </label>
          </div>
          <input
            type="submit"
            class="button-fill"
            style="width: 100%; margin-top: 48px"
            value="Apply filters"
          />
        </div>
        <div class="main-content-block">
          <div class="main-content-block-items">
            {{ if not .items}}
            <div
              style="
                display: flex;
                height: 128px;
                width: 100%;
                justify-content: center;
                align-items: center;
              "
            >
              <p class="main-text" style="font-size: 20px">No items</p>
            </div>
            {{ end }} {{range .items}} {{template "item-card-view.html" .}}
            {{end}}
          </div>

          <div class="main-content-block-pages">
            <div class="pages-per-page">
              <p class="main-text">Per page:</p>
              <p
                class="main-text"
                style="cursor: pointer"
                id="pageSelection15"
                onclick="setPageSize(15)"
              >
                15
              </p>
              <p
                class="main-text"
                style="cursor: pointer"
                id="pageSelection30"
                onclick="setPageSize(30)"
              >
                30
              </p>
              <p
                class="main-text"
                style="cursor: pointer"
                id="pageSelection45"
                onclick="setPageSize(45)"
              >
                45
              </p>
            </div>

            <div class="pages-switch">
              <button
                type="button"
                class="grey-container pages-switch-left button-add-scale"
                onclick="setPage(1)"
                {{
                if
                not
                .pagination.HasLess}}
                disabled
                {{
                end
                }}
              >
                <img
                  class="page-left-arrow"
                  src="/assets/img/PageFirst.svg"
                  alt="arrow"
                />
              </button>
              <button
                type="button"
                class="grey-container pages-switch-left button-add-scale"
                onclick="setPage({{ .pagination.Page }} - 1)"
                {{
                if
                not
                .pagination.HasLess}}
                disabled
                {{
                end
                }}
              >
                <img
                  class="page-left-arrow"
                  src="/assets/img/PagePrev.svg"
                  alt="arrow"
                />
              </button>
              <p class="main-text pages-switch-number grey-containere">
                {{ .pagination.Page }}
              </p>
              <button
                type="button"
                class="grey-container pages-switch-right button-add-scale"
                onclick="setPage({{ .pagination.Page }} + 1)"
                {{
                if
                not
                .pagination.HasMore}}
                disabled
                {{
                end
                }}
              >
                <img
                  class="page-right-arrow"
                  src="/assets/img/PageNext.svg"
                  alt="arrow"
                />
              </button>
              <button
                type="button"
                class="grey-container pages-switch-right button-add-scale"
                onclick="setPage({{ .pagination.TotalPages }})"
                {{
                if
                not
                .pagination.HasMore}}
                disabled
                {{
                end
                }}
              >
                <img
                  class="page-right-arrow"
                  src="/assets/img/PageLast.svg"
                  alt="arrow"
                />
              </button>
            </div>

            <div class="pages-filler"></div>
          </div>
        </div>
      </form>
    </main>

    {{template "footer.html"}}

    <script>
      document.getElementById("qualitySelection").value={{.query.Quality}};
      document.getElementById("typeSelection").value={{.query.Type}};
      document.getElementById("sortSelection").value={{.query.Sort}};
      document.getElementById("pageSelection{{ .pagination.Size }}").classList.add("pages-per-page-selected");

      function setPageSize(size) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("page_size", size);
        window.location.search = urlParams;
      }

      function setPage(page) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("page", page);
        window.location.search = urlParams;
      }
    </script>
  </body>
</html>
